.home-hero-wrap {
  background-color: #f4f6fb;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .home-hero-wrap {
    padding-bottom: 40px;
  }
}
